<div id="nowpath">{{ path }}</div>
<div style="text-align: center;margin-bottom: 20px;">
    <a data-toggle="modal" data-target="#mkfile" path="{{ path }}" select=""><img src="/static/ico_008.ico" style="width:30px;height: 30px;">新建文件</a>
    <a data-toggle="modal" data-target="#mkdir" path="{{ path }}" select="">
        <img src="/static/ico_009.ico" style="width:30px;height: 30px;" >新建文件夹</a>
    <a onclick="find(this)" path="{{ path }}" select="home"><img src="/static/home.ico" style="width:30px;height: 30px;">首页</a>
    <a onclick="find(this)" path="{{ path }}" select="fist"><img src="/static/fist.ico" style="width:30px;height: 30px;" >上一层</a>
    <a onclick="fash()" path="{{ path }}" select="fist"><img src="/static/f.png" style="width:30px;height: 30px;" >刷新</a>
</div>
{% block content %}
{% for file in isdir %}
    <div class="col-sm-3 col-md-2">
        <div class="row">
          <a style="height:200px;text-align:center;margin-left:20px;
             margin-right:20px;margin-bottom:20px;" onclick="chane(this)" path="{{ path }}\{{ file }}" class="thumbnail">
             <img src="/static/w.jpg"
             alt="{{ file }}">
              {{ file }}
          </a>
        </div>
    </div>
{% endfor %}
{% for file in isfile %}
    <div class="col-sm-3 col-md-2">
        <div class="row">
          <a style="height:200px;text-align:center;margin-left:20px;
            margin-right:20px;margin-bottom:20px;" onclick="chane(this)" file="true" path="{{ path }}\{{ file }}" class="thumbnail">
             <img src="/static/j.png"
             alt="{{ file }}">
              {{ file }}
          </a>
        </div>
    </div>
{% endfor %}
{% endblock %}
