<div>{{ path }}</div>
{% block content %}
{% for file in isdir %}
    <div class="col-sm-3 col-md-2">
        <div class="row">
          <a style="height:200px;text-align:center;margin-left:20px;margin-right:20px;margin-bottom:20px;" onclick="chane(this)" path="{{ path }}\{{ file }}" class="thumbnail">
             <img src="/static/w.jpg"
             alt="{{ file }}">
              {{ file }}
          </a>
        </div>
    </div>
{% endfor %}
{% for file in isfile %}
    <div class="col-sm-3 col-md-2">
        <div class="row">
          <a style="height:200px;text-align:center;margin-left:20px;margin-right:20px;margin-bottom:20px;" onclick="chane(this)" path="{{ path }}\{{ file }}" class="thumbnail">
             <img src="/static/j.png"
             alt="{{ file }}">
              {{ file }}
          </a>
        </div>
    </div>
{% endfor %}
{% endblock %}
