<!DOCTYPE html>
<html>
<head>
   <title>文件管理页面</title>
   <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
   <script src="/static/js/tinymce/tinymce.min.js"></script>
    <script src="/static/js/tinymce/plugins/table/plugin.min.js"></script>
    <script src="/static/js/tinymce/plugins/paste/plugin.min.js"></script>
    <script src="/static/js/tinymce/plugins/spellchecker/plugin.min.js"></script>
</head>
<body style="width:99%">
<div id="cont">
    <div style="height:100px;">
        <h1>文件管理页面</h1>
    </div>
    <div class="container-fluid">
       <div class="row" >
           <div class="col-sm-3 col-md-2">
                <ul class="nav nav-pills nav-stacked">
                   <li class="active"><a href="#">Home</a></li>
                    {% block content %}
                    {% for post in posts %}
                    <li><a onclick="chane(this)" path="{{ post.path }}" basepath="{{ post.path }}">{{ post.name }}<br>{{ post.path }}</a></li>
                    {% endfor %}
                    {% endblock %}
                </ul>
           </div>
           <div id="chan" class="col-xs-9 col-sm-10" onmousedown="closemune()" style="background:#ddddff;overflow:auto;color:black;font-size:18px;">
                 <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                 </p>
           </div>
       </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               模态框（Modal）标题
            </h4>
         </div>
         <div id="myModalBody" class="modal-body">
            在这里添加一些文本
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="mkdir" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="mkdirtitle">
               新建文件夹
            </h4>
         </div>
         <div id="mkdirbody" class="modal-body">
            文件夹名称：<input id="mkdirtext" type="text" />
         </div>
         <div class="modal-footer">
             <button onclick="mk(1)" type="button" class="btn btn-primary">新建
            </button>
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div style="display: none;" id="mkfile">
   <div class="modal-dialog" style="width: 80%">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="mkfiletitle">
               新建文件
            </h4>
         </div>
         <div id="mkfilebody" class="modal-body">
            文件名称：<input id="mkfilename" type="text" /><br><br>
            内容：<textarea id="mkfiletext" style="width: 80%;height: 400px;"></textarea>
         </div>
         <div class="modal-footer">
             <button onclick="mk(2)" type="button" class="btn btn-primary">新建/修改
            </button>
            <button onclick="closemkfile()" type="button" class="btn btn-default">关闭
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<div style="display: none;width: 100px;background: white;border:1px solid #000;
    position: absolute;top: 100px;left: 200px;" id="mune">
            <ul class="nav nav-pills nav-stacked" style="width: 100%">
                <li style="width: 100%"><a style="width: 100%" onclick="del()" >删除</a></li>
                <li style="width: 100%"><a style="width: 100%" onclick="closemune()" >取消</a></li>
            </ul>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="alert" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="alerttitle">
               模态框（Modal）标题
            </h4>
         </div>
         <div id="alerttext" class="modal-body">
            在这里添加一些文本
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

</body>
<script>
if (window.innerHeight)
       winHeight = window.innerHeight;
 else if ((document.body) && (document.body.clientHeight))
       winHeight = document.body.clientHeight;
$('#chan').css('height',winHeight-120);
    delfilename="";
    function del(){
        $.ajax({type:'post',url:"/files/delfile/",data:{'nowpath':$('#nowpath').html(),'filename':delfilename},success:function(result){
                showalert(result)
                fash()
                closemune();
          }});
    }
    function openmune(v){
        delfilename=trim($(v).text())
        //alert(delfilename)
        var e = event || window.event;
        var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
        var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
        var x = e.pageX || e.clientX + scrollX;
        var y = e.pageY || e.clientY + scrollY;
        $('#mune').css('top',y);
        $('#mune').css('left',x);
        $('#mune').css('display','block');
    }
    function closemune(){
        $('#mune').css('display','none');
    }
    function openmkfile(){
        $('#mkfile').css('display','block');
        $('#cont').css('display','none');
    }
    function closemkfile(){
        $('#mkfile').css('display','none');
        $('#cont').css('display','block');
    }
    function fash() {
            $.ajax({type:'post',url:"/files/fileList/",data:{'path':$('#nowpath').html(),'basepath':""},success:function(result){
                $('#chan').html(result)
          }});
    }
function chane(t){
    closemune()
    if($(t).attr('file')=='true'){
        isfile(t)
        return
    }
    stmp=$(t).attr('basepath')
    if(stmp==undefined)
        stmp=""
    $.ajax({type:'post',type:'post',url:"/files/fileList/",data:{'path':$(t).attr('path'),'basepath':stmp},success:function(result){
            $('#chan').html(result)
          }});
    //alert(htmlobj.responseText)
}
function find(t){
    path=$(t).attr('path')
    split=$(t).attr('select')
    if(split=='home'){
        $.ajax({type:'post',url:"/files/find/",data:{'path':path,'select':split},success:function(result){
        $('#chan').html(result)
          }});
    }else if(split=='fist'){
        $.ajax({type:'post',url:"/files/find/",data:{'path':path,'select':split},success:function(result){
        $('#chan').html(result)
          }});
    }
}
    function isfile(t){
        $.ajax({type:'post',url:"/files/readfile/",data:{'path':$(t).attr('path')},success:function(result){
            //$('#myModalLabel').html($(t).attr('path'))
            //$('#mkfiletext').value=$(t).attr('path')
            mkfilename.value=trim($(t).text())
            tinyMCE.get('mkfiletext').setContent(result)
            //$('#myModalBody').html(result)
            //alert(htmlobj.responseText)cont
            $('#mkfile').css('display','block');
            $('#cont').css('display','none');
          }});
    }
function mk(y) {
    if(mkdirtext.value==""){
        alert("文件夹名称不能为空")
        return
    }
    if(y==1){
       $.ajax({type:'post',url:"/files/mkdir/",data:{'nowpath':$('#nowpath').html(),'filename':mkdirtext.value},success:function(result){
            if(result=='ok'){
                showalert("新建成功")
                $.ajax({type:'post',url:"/files/fileList/",data:{'path':$('#nowpath').html(),'basepath':""},success:function(results){
                    $('#chan').html(results)
                    $('#mkdir').modal('hide')
                }});
            }else{
                showalert(result)
            }

        }});
    }else if(y==2){
        mkname=mkfilename.value
        mktext= tinyMCE.get('mkfiletext').getContent()
        $.ajax({type:'post',url:"/files/mkfile/",data:{'nowpath':$('#nowpath').html(),'mkname':mkname,'mktext':mktext},success:function(result){
            showalert(result)
            fash()
            $('#mkfile').css('display','none');
            $('#cont').css('display','block');

        }});
    }
}
    function trim(str){ //删除左右两端的空格
　　     return str.replace(/(^\s*)|(\s*$)/g, "");
　　 }

    tinymce.init({
		selector: "textarea#mkfiletext",
		theme: "modern",
		plugins: [
			"advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
			"searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
			"save table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker"
		],
		external_plugins: {
			//"moxiemanager": "/moxiemanager-php/plugin.js"
		},content_css: "css/development.css",
		add_unload_trigger: false,
		autosave_ask_before_unload: false,
		toolbar1: "save newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
		toolbar2: "cut copy paste pastetext | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media help | insertdatetime preview | forecolor backcolor",
		toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak | insertfile insertimage code",
		menubar: false,
		toolbar_items_size: 'small',
            paste_auto_cleanup_on_paste: true,
            relative_urls: false,
            invalid_elements: 'script',
            statusbar: false,
            menubar : false,

			language:'zh_CN',

	});

     function showalert(v){
        $('#alerttitle').html('提示');
        $('#alerttext').html(v);
        $('#alert').modal('show');
     }
     window.onresize = function () {
        if (window.innerHeight)
               winHeight = window.innerHeight;
         else if ((document.body) && (document.body.clientHeight))
               winHeight = document.body.clientHeight;
        $('#chan').css('height',winHeight-120);
     }
</script>
</html>
